# Backend Server Port (Render automatically sets the PORT environment variable)
PORT=5001

# Environment Mode
NODE_ENV=production

# Database Connection (MongoDB Atlas Cloud URI)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.txhuc3s.mongodb.net/dheeksha_trade?retryWrites=true&w=majority

# Frontend Client URL for CORS (Comma-separated for multiple origins)
CORS_ORIGIN=https://dheeksha-trade-h2w2.vercel.app
